<% @user ||= current_user %>
<div class="stats">
  <%= link_to following_path(@user) do %>
    フォロー中
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
  <% end %>
  <%= link_to followers_path(@user) do %>
    フォロワー
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
  <% end %>
</div>