<div id="map" class="address_map"></div>

<script type="text/javascript">
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%= raw hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.getMap().setCenter(new google.maps.LatLng(<%= @hash[0][:lat] %>, <%= @hash[0][:lng] %>));
    handler.getMap().setZoom(15);
  });
</script>