<% provide(:title, '地図から検索') %>

<h1>地図から検索</h1>
<div class="row">
  <div class="col-md-3">
    <%= render 'shared/search', url: map_request_path, send_locally: false, search_params: @search_params %>
  </div>

  <div class="col-md-9">
    <div class="map">
      <div id="map_index" class="map-gmap"></div>
    </div>
    <%= render 'maps/index_map' %>
  </div>
</div>
