<div class='sidebar-box' >
  <div class='sidebar-title'>
    参加人数
  </div>
  <div class='participant-count'>
    <%= @event.participations.count %>
    /
    <%= @event.participant_limit %>
  </div>


  <% if @event.participated_by?(current_user) %>
    <%=link_to "参加取り消し", event_participation_path(@event.id), method: :delete, class: "btn btn-danger rounded-pill w-100" %>
  <% else %>
    <%=link_to "参加", event_participations_path(@event.id), method: :post , class: "btn btn-success rounded-pill w-100" %>
  <% end %>
</div>