<div class="row">
  <div class="col-md-3">
    <%= render 'sort' %>
    <%= render 'search' %>
  </div>
  <div class="col-md-9">
    <% @events.each do |event| %>
      <%= render 'feed', event: event %>
    <% end %>
    <%= paginate @events %>
  </div>
</div>