<div class="row">
  <div class="col-md-3">
    <%= render 'search' %>
  </div>
  <div class="col-md-9 eventlist-box">
    <% @events.each do |event| %>
      <%= render 'feed', event: event %>
    <% end %>
  </div>
</div>