<%= provide(:title) %>

<div class="row">
  <div class="col-md-9 center">
    <h1>イベント一覧</h1>
    <div class="row">
      <% @events.each do |event| %>
        <div class="col-sm-6">
          <%= render 'feed', event: event %>
        </div>
      <% end %>
    </div>
    <%= paginate @events %>
  </div>
  <div class="col-md-3">
    <%= render 'search' %>
  </div>
</div>