<%= provide(:title, 'イベント作成') %>

<div class="event_form-box">
  <div class="event_form-content center">
    <h2>イベント作成</h2>
    <%= form_for (@event), url:events_path, method: :post do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <%= render 'form', f: f %>
    <% end %>
  </div>
</div>