@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

/* mixins, variables, etc. */

$gray: #6b6b6b;
$eventlist_color: #2e2379;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin comment_format {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 3px;
  max-width: 350px;
  border-radius: 12px;
  font-size: 15px;
}

/* universal */

body {
  padding-top: 0px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 90%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
  margin-bottom: 20px;

  &:after {
    position: absolute;
    content: " ";
    display: block;
    border-bottom: solid 3px #ƒ;
    bottom: -3px;
    width: 20%;
  }
}

a{
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.pagination {
  justify-content: center;
  margin: 15px 0;
}

.btn{
  font-weight: bold;
}

.fly {
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  
  &:hover {
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
  }

  a{
    text-decoration: none;
  }
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: cursive;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.breadcrumb {
  margin: 0;
  list-style: none;
  overflow: hidden;

  li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
    font-size: 0.7em;
    text-decoration: none;
    color: #a8a8a8;

    &:after {/* >を表示*/
      content: '>';
      padding: 0 0.2em;
    }

    &:last-child:after {
      content: '';
    }

    a {
      color: #828282;
      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child{ 
      a:before {
        /* 家アイコンを表示*/
        font-family: FontAwesome;
        content: '\f015';
        font-weight: normal;
      }
    }
  }
}

/* footer */

/* main */

.main{
  background-color: #ffffff;
  padding-top: 20px;
}

/* user */

.sidebar{
  &-box{
    margin-bottom: 20px;
    background: #ffffff;
    border: solid 1px;
    padding: 0px;
    li {
      padding: 15px 20px;
      margin: 0;
      border-bottom: solid #6b6b6b 0.5px;
    }
  }

  &-title{
    font-size: 1em;
    background: #12126f;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &-search{
    padding: 5px;
  }
}

.participant{
  &-count{
    font-size: 1.5em;
    padding: 4px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bold;
  }
}

/* event */
.eventlist{
  &-box{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;

    color: #1e366a;
    border: solid $eventlist_color 2px;
    margin-bottom: 20px;
    display: block;
    overflow: hidden;
    border-radius: 3px;
  }

  &-img{
    display: block;
    border-bottom: solid $eventlist_color 2px;
  }

  &-name{
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    background-color: $eventlist_color;
    padding: 5px 3px;
    color: #fff;
  }

  &-owner{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 1px 3px;
    background-color: lighten($eventlist_color, 40%);
    color: $eventlist_color;
  }

  &-info {
    font-size: 15px;
    clear: both;
  }

  &-text{
    font-size: 11px;
    line-height: 16px;
  }

  &-tag{
    font-size: 15px;
  }

}

.eventshow{
  &-box{
    font-size: 16px;
    font-weight: bold;
    color: #1e366a;
    border-bottom: solid #6b6b6b 0.5px;
    display: block;
    overflow: hidden;
  }

  &-tag{
    font-size: 20px;
  }

  &-time{
    width: 100%;
  }

  &-name{
    font-size: 2em;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 10px 0;
  }

  &-img{
    width: 100%;
  }

  &-text{
    font-size: 20px;
    line-height: 16px;
    margin-top: 8px;
    margin: 20px 0;
  }

}

.comment{
  &-box{
    padding: 20px 10px;
    margin: 15px auto;
    font-size: 14px;
  }

  &-userName{
    width: 100;
  }

  &-otherUser{
    margin: 3px 0;
    text-align: left;
  
    p{
      @include comment_format;
      background: #edf1ee;
    }
  }

  &-currentUser{
    margin: 3px 0;
    text-align: right;

    p {
      @include comment_format;
      background: #30e852;
    }
  }
}