@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray: #6b6b6b;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin comment_format {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 3px;
  max-width: 350px;
  border-radius: 12px;
  font-size: 15px;
}

/* universal */


body {
  padding-top: 0px;
  background-color: #dadada;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 90%;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a{
  color:#000000;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.pagination {
  justify-content: center;
  margin: 15px 0;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: cursive;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;

  a {
    color: #555;
  }

  a:hover {
    color: #222;
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* main */

/* user */

.main{
  background-color: #ffffff;
  margin-top: 20px;
}

.sidebar{
  &-box{
    margin: 20px 0;
    background: #ffffff;
    border: solid 1px;
    padding: 0px;
    li {
      padding: 15px 20px;
      margin: 0;
      border-bottom: solid #6b6b6b 0.5px;
    }
  }

  &-title{
    font-size: 1em;
    background: #12126f;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &-search{
    padding: 5px;
  }
}

.participant{
  &-count{
    font-size: 1.5em;
    padding: 4px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bold;
  }
}

/* event */
.eventlist{
  &-box{
    font-size: 16px;

    color: #1e366a;
    border-bottom: solid #6b6b6b 0.5px;
    padding: 1em 0 1em 1.5em;
    margin: 0 0 5px 0;
    display: block;
    overflow: hidden;
  }

  &-img{
    margin: 160px;
  }

  &-name{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding-bottom: 4px;
  }

  &-info {
    overflow: hidden;
    font-size: 15px;
    margin: 4px 0;
    clear: both;
  }

  &-text{
    font-size: 11px;
    line-height: 16px;
    margin-top: 8px;
  }

  &-tag{
    font-size: 15px;
  }

}

.eventshow{
  &-box{
    font-size: 16px;
    font-weight: bold;
    color: #1e366a;
    border-bottom: solid #6b6b6b 0.5px;
    padding: 1em 0 1em 1.5em;
    display: block;
    overflow: hidden;
  }

  &-tag{
    font-size: 20px;
  }

  &-time{
    width: 100%;
  }

  &-name{
    font-size: 2em;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 10px 0;
  }

  &-img{
    width: 100%;
  }

  &-text{
    font-size: 20px;
    line-height: 16px;
    margin-top: 8px;
    margin: 20px 0;
  }

}

.comment{
  &-box{
    padding: 20px 10px;
    margin: 15px auto;
    font-size: 14px;
  }

  &-userName{
    width: 100;
  }

  &-otherUser{
    margin: 3px 0;
    text-align: left;
  
    p{
      @include comment_format;
      background: #edf1ee;
    }
  }

  &-currentUser{
    margin: 3px 0;
    text-align: right;

    p {
      @include comment_format;
      background: #30e852;
    }
  }
}