@import "bootstrap";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

/* mixins, variables, etc. */

$overall_backgorund_color: #fcfcf1;
$header_color: #4b4238;
$menu_color: #ceca93;
$sidebar_color: #d0cfb7;
$center_color: #ffffff;
$footer_color: #ceca93;
$accent_color: #606060;

$gray: #6b6b6b;
$eventlist_color: #2e2379;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin comment_format {
  display: inline-block;
  position: relative;
  padding: 5px 10px;
  margin: 3px;
  max-width: 250px;
  border-radius: 12px;
  font-size: 15px;
}

@mixin profile_img($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  object-fit: cover;
  border: 1px solid;
}

/* universal */

body {
  background-color: $overall_backgorund_color;
  padding-top: 50px;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 95%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  padding: 1rem 2rem;
  border-left: 5px solid $accent_color;
  background: #f4f4f4;
}

h2 {
  border-bottom: solid 3px $accent_color;
  position: relative;
  margin-bottom: 5px;

  &:after {
    position: absolute;
    content: " ";
    display: block;
    bottom: -3px;
    width: 20%;
  }
}

a{
  color: #000000;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

.pagination {
  justify-content: center;
  margin: 15px 0;
}

.btn{
  font-weight: bold;
}

.fly {
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
  transition: .3s;
  
  &:hover {
    box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
    transform: translateY(-4px);
  }

  a{
    text-decoration: none;
  }
}

.separator {
  position: relative;
  border-bottom: solid 1px $accent_color;
  margin: 30px 0 30px 0;
}

.multiline-text {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  background-color: #C0C0C0;
  &:after{
    content: "...";
    position: absolute;
    top: 73px;
    left: 80px;
    background-color: #C0C0C0;
  }
}

/* header */

.header {
  background-color: $header_color;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  font-family: cursive;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.breadcrumb {
  margin: 0;
  list-style: none;
  overflow: hidden;

  li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
    font-size: 0.7em;
    text-decoration: none;
    color: #a8a8a8;

    &:after {/* >を表示*/
      content: '>';
      padding: 0 0.2em;
    }

    &:last-child:after {
      content: '';
    }

    a {
      color: #828282;
      &:hover {
        text-decoration: underline;
      }
    }

    &:first-child{ 
      a:before {
        /* 家アイコンを表示*/
        font-family: FontAwesome;
        content: '\f015';
        font-weight: normal;
      }
    }
  }
}

.menubar {
  background-color: $menu_color;

  &-list{
    color: $gray;
    a{
      color: $gray;
      font-size: 18px;
    }
  }
}

/* footer */

/* main */

.main{
  margin-top: 20px;
}

.center{
  background-color: $center_color;
  border-radius: 5px;
  padding-top: 20px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
}

.sidebar{
  &-box{
    margin-bottom: 20px;
    background-color: $sidebar_color;
    border: solid 1px;
    padding: 0px;
    li {
      padding: 15px 20px;
      margin: 0;
      border-bottom: solid #6b6b6b 0.5px;
    }
  }

  &-title{
    font-size: 1em;
    background: $accent_color;
    padding: 4px;
    text-align: center;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 0.05em;
  }

  &-search{
    padding: 5px;
  }
}

.user_info {
  &-box{
    text-align: center;
    margin: 2px 0;
    font-size: 20px;
    font-weight: bold;
  }

  &-stats {
    font-weight: normal;
    opacity: 0.6;
    font-size: 12px;
  }

  &-button {
    text-align: center;
    margin: 5px 0;
  }
}

/* user */

.participant{
  &-count{
    font-size: 1.5em;
    padding: 4px;
    text-align: center;
    letter-spacing: 0.05em;
    font-weight: bold;
  }
}

.usershow{
  &-box {
    margin: 30px 30px;
    text-align: center;
    display: flex;

    img{
      @include profile_img(100px)
    }
  }

  &-name {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
  }

  &-profile {
    max-width: 400px;
    text-align: left;
    margin: 20px 0 0 30px;
  }

  &-introduction {
    text-align: left;
    padding-left: 30px;
  }
  
}

.profile-icon{
  &-small{
    @include profile_img(40px)
  }

  &-large{
    @include profile_img(80px)
  }
}

.follow {
  &-box {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;
  }

  &-count {
    justify-content: center;
  }
}


/* event */
.eventlist{
  &-box{
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    color: #1e366a;
    margin-bottom: 10px;
    display: block;
    border-radius: 3px;
    background-color: $center_color;
  }

  &-img{
    width: 100%;
    height: 200px;
    text-align: center;
    border-radius: 6px;
    line-height: 200px;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 6px;
      vertical-align: top;
    }
  }

  &-name{
    font-size: 20px;
    font-weight: bold;
    padding: 1px 3px;
    p {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin: 0;
    }
  }

  &-owner{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 1px 3px;
    color: $eventlist_color;
  }

  &-info {
    font-size: 16px;
    clear: both;
    padding: 0 10px 0px 10px;

    dt{
      float: left;
    }
    dd{
      margin-left: 1em ;
    }
  }

  &-text{
    font-size: 11px;
    line-height: 16px;
  }

  &-tag{
    font-size: 15px;
    padding-left: 10px;
  }

}

.eventshow{
  &-box{
    font-size: 16px;
    font-weight: bold;
    display: block;
    overflow: hidden;

    table{ 
      table-layout: fixed;
    }

    th, td {
      border: 1px solid #ccc;
      padding: 20px;
    }

    td {
      width: 100%;
    }
    
    th {
      font-weight: bold;
      background-color: #dedede;
      width: 1px;
      white-space: nowrap;
    }

    @media screen and (max-width: 767px) {
      tr,
      td,
      th {display: block;}

      th { width: 100% }
    }
  }

  &-tag{
    font-size: 20px;
  }

  &-time{
    width: 100%;
  }

  &-name{
    font-size: 2em;
    font-weight: bold;
    line-height: 20px;
    margin: 20px 0 10px 0;
  }

  &-img{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    img {
      max-height: 500px;
    }
  }

  &-text{
    font-size: 20px;
    line-height: 16px;
    margin-top: 8px;
    margin: 20px 0;
  }

}

.comment{
  &-box{
    padding: 20px 10px;
    margin: 15px auto;
    font-size: 14px;
  }

  &-userName{
    width: 100;
  }

  &-otherUser{
    margin: 3px 0;
    text-align: left;
  
    p{
      @include comment_format;
      background: #edf1ee;
    }
  }

  &-currentUser{
    margin: 3px 0;
    text-align: right;

    p {
      @include comment_format;
      background: #30e852;
    }
  }
}

/* map */
.map {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;

  &-gmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.address_map {
  width: 100%;
  height: 300px;
}

/* notification */

.notification {
  &-box {
    border-bottom: solid $accent_color 0.5px;
    padding-bottom: 5px;
    margin-top: 5px;
  }
}